# .NET
bin/
obj/
*.user
*.suo
.vs/
publish/
app.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets & keys
*.pem
*.key
*.pfx
